@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 322 69% 91%;
    --foreground: 273 15% 18%;
    --card: 322 60% 96%;
    --card-foreground: 273 15% 18%;
    --popover: 322 60% 96%;
    --popover-foreground: 273 15% 18%;
    --primary: 330 69% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 325 50% 85%;
    --secondary-foreground: 330 69% 46%;
    --muted: 325 50% 85%;
    --muted-foreground: 273 20% 40%;
    --accent: 273 28% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 330 30% 80%;
    --input: 330 30% 85%;
    --ring: 330 69% 46%;
    --chart-1: 330 70% 50%;
    --chart-2: 273 60% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 273 15% 10%;
    --foreground: 322 30% 90%;
    --card: 273 15% 15%;
    --card-foreground: 322 30% 90%;
    --popover: 273 15% 15%;
    --popover-foreground: 322 30% 90%;
    --primary: 330 69% 60%;
    --primary-foreground: 0 0% 10%;
    --secondary: 273 15% 20%;
    --secondary-foreground: 330 69% 70%;
    --muted: 273 15% 20%;
    --muted-foreground: 322 20% 60%;
    --accent: 273 28% 60%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 273 15% 25%;
    --input: 273 15% 25%;
    --ring: 330 69% 60%;
    --chart-1: 330 70% 50%;
    --chart-2: 273 60% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
